<%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
    <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
    <div class="field">
    <%= f.label :variety %><br />
    <%= f.text_field :variety %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_field :intro %>
  </div>
    <div class="field">
    <%= f.label :feature_image %><br />
    <%= f.file_field :feature_image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
