<%= form_for(@portfolio) do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% @portfolio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
 <h3> <%= current_user.first_name%>'s porfolio information...</h3>
<p>Here you will enter the information to be displayed at at the beginning of your portfolio presentation.</br>
Consider this the introduction to your work. </p>
<div>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
    <div class="field">
    <%= f.label :start_date %>The date you would like the timeline to begin.<br />
    <%= f.date_select :start_date, :order=> [:month, :day, :year], :prompt => :true %>
  </div>
    <div class="hidden">
    <%= f.label :variety %><br />
    <%= f.text_field :variety %>
  </div>
  <div class="field">
    <%= f.label :introduction %>Enter a brief description of yourself or your work.<br />
    <%= f.text_area :intro , :size => '40x5'%>
  </div>
    <div class="field">
<%= f.label :feature_image %>
Upload an image which represents your portfolio.</br>
    <span class = "options" ><%= f.file_field :image %></span></br>


  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
