<div ><h1><%= @portfolio.user.first_name %> <%= @portfolio.user.last_name %>'s Portfolio Attributes</h1></div>

<p id="notice"><%= notice %></p>
<p><b>Featured Image:</b></br>
	<%= image_tag @portfolio.image.url(:small) %>
</p> 
<p><b>Creator Name: </b>
<% if user_signed_in? %>
<h4><%= @portfolio.user.first_name %> <%= @portfolio.user.last_name %> with id of: <%= @portfolio.user.id %>
</h4>	  
<% end %>
</p>
<p><b>Portfolio Title:</b>
	<%= @portfolio.title %>
</p>
<p><Start Date:
	<%= @portfolio.start_date %>
</p>
<!-- <p>Style: (default)</br>
	<%= @portfolio.variety %>
</p> -->
<p>Introduction:  
<%= @portfolio.intro %></p>
<p>Portfolio ID:  
<%= @portfolio.id%></p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', users_portfolio_path %>

<h4>Add an Achievement</h4>

<%= link_to 'Achievements', achievements_path %>





