<div id="my-timeline"><h1><%= current_user.first_name %> <%= current_user.last_name %>'s Porfolio </h1></div>

<p id="notice"><%= notice %></p>
<p><b>Featured Image:</b></br>
	<%= image_tag @portfolio.feature_image.url(:small) %>
</p> 
User Name
<% if user_signed_in? %>
<h4><%= current_user.first_name %> <%= current_user.last_name %>
</h4>	  
<% end %>
	<%= @portfolio.user_id %>
</p>
<p><b>Portfolio Title:</b>
	<%= @portfolio.title %>
</p>
<p><Portfolio Start Date:
	<%= @portfolio.start_date %>
</p>
<p>Style: (default)</br>
	<%= @portfolio.variety %>
</p>
<p>Introduction:  
<%= @portfolio.intro %></p>

<p>Rendered JSON:</p></br>
<p><%= @portfolio.as_json %></p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>


