<p id="notice"><%= notice %></p>

<%= image_tag @user.avatar.url(:thumb) %>
<p>
  <b>Login name:</b>
  <%= @user.login_name %>
</p>

<p>
  <b>Email:</b>
  <%=@user.email %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>
<!-- Will hide ID later!! -->
<p>
  <b>User ID:</b>
  <%= @user.id %>
</p>

<p>
<%= link_to 'Back', users_path %>
