
<% if user_signed_in? %>

<h4>Welcome to your dashboard, <%= current_user.first_name %> <%= current_user.last_name %> !
</h4>	  
<p>This will be our landing page.</p>
<p>User ID: <%= current_user.id %>

<h3><%=link_to "Manage Your Profile"%> </h3>

<h3><%= link_to "Create a Timeline Portfolio", new_portfolio_path %></h3>

<h3><%= link_to "Edit Your Current Portfolio", portfolio_path %></h3>

<h3><%= link_to "Add Achievments to your Current Portfolio",new_achievement_path %></h3>



=======
<h4>Dashboard: <%= current_user.first_name %> <%= current_user.last_name %><br />
	<img src = "<%= current_user.avatar %>" width="125" height="125" >
</h4>

<% end %>