
<p>LANDING PAGE</p>

<div class="row">
	<div class="span4">
		<ul class="thumbnails">
<li class="span4">
<div class="thumbnail">
  <% if user_signed_in? %>
  <%= image_tag @user.avatar.url(:medium) %>
<center><h3><%= current_user.first_name %> <%= current_user.last_name %></h3></center>
<center><p>User ID: <%= current_user.id %></p></center>
<% if current_user.role_ids == [1] %>
<center><p>User Role: Student</p></center>
<% else %>
<center><p>User Role: Organization</p></center>
<% end %>

</div>
</li>
</ul>
	</div>
	 <div class="span4">
     <ul class="nav nav-list">
    <li class="nav-header">User Options</li>
    <li class="active"><a href="#">Home</a></li>
     <% if current_user.role_ids == [2] %>
        <li><%= link_to "Create Organization Page", new_organization_path %> </li>
     <% else %>   
    <% if current_user.portfolio %>
    <li><%= link_to "Edit Your Current Portfolio", users_portfolios_path(:user_id => current_user.id) %> </li>    
    <%else%>
    <li><%= link_to "Create a Timeline Portfolio", new_portfolio_path %> </li>
    <%end if%>
    <li><%= link_to "Add Achievments to your Current Portfolio",new_achievement_path %></li>
    </ul>
	</div>
  <% end %>
<div class="span4">
  <% end %>



</div>

</div>

