
<p>LANDING PAGE</p>

<div class="row">
	<div class="span4">
		<ul class="thumbnails">
<li class="span4">
<div class="thumbnail">
<img src = "<%= current_user.avatar %>" width="125" height="125" >
<center><h3><%= current_user.first_name %> <%= current_user.last_name %></h3></center>
<center><p>User ID: <%= current_user.id %></p></center>
<center><p>User Role: <%= current_user.role %></p></center>
</div>
</li>
</ul>
	</div>
	 <div class="span4">
     <ul class="nav nav-list">
    <li class="nav-header">User Options</li>
    <li class="active"><a href="#">Home</a></li>
    <li><%= link_to "Create a Timeline Portfolio", new_portfolio_path %> </li>
    <li><%= link_to "Edit Your Current Portfolio(s)", users_portfolios_path(:user_id => current_user.id) %> </li>
    <li><%= link_to "Add Achievments to your Current Portfolio",new_achievement_path %> </li>
    </ul>
	</div>

<div class="span4">



</div>

</div>


<% end %>