<div id="my-timeline"><h1>  <% if user_signed_in? %>
	<%= current_user.first_name %> <%= current_user.last_name %>'s Portfolio
	  <% end %>
	</h1></div>
<%= link_to 'Add a New Achievement', new_achievement_path %>
<h3>Listing achievements</h3>

<% @achievements.each do |achievement|if achievement.portfolio.user_id == current_user.id %>
<div class="achievement"
    <strong><%= achievement.headline %></strong>
    <p><%= achievement.start_date %> to 
    <%= achievement.end_date %></p>
    <em><%= achievement.notes %></em>
<p>
  <b>portfolio id:</b>
  <%= achievement.portfolio_id %>
</p>
<p>
  <b>portfolio user id:</b>
  <%= achievement.portfolio.user_id %>
</p>
<p>
  <b>current user id:</b>
  <%= current_user.id %>
</p>

    <div class="meta">
      <%= link_to time_ago_in_words(achievement.created_at) + " ago", achievement %>  

        <span class="options" :visible = false>      
      <p><%= link_to 'Show', achievement %> | <%= link_to 'Edit', edit_achievement_path(achievement) %> | 
        <%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %>
      </p>

      </span>
    </div>
  </div>
  <% end %>
<% end %>
<br/>

<%= link_to 'New Achievement', new_achievement_path %>
