<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @achievement.headline %>
</p>
<!-- a preview of what was uploaded here -->
<p><%= image_tag @achievement.work.url(:small) %></p>
<p>
  <b>Start date:</b>
  <%= @achievement.start_date %>
</p>

<p>
  <b>End date:</b>
	<%= @achievement.end_date %>
</p>

<p>
  <b>Notes:</b><%= @achievement.notes %></p>
<!-- a preview of what was uploaded here -->
<p>
  <b>Portfolio ID:</b>
	<%= @porfolio_id %>
</p>
<p>
  <b>User:</b>
	<%= current_user.id %>
</p>
<!-- <p><%= @achievement.as_json %>/> -->
<p>
<%= link_to 'Edit', edit_achievement_path(@achievement) %> | 
<%= link_to 'Index', achievements_path %> | 
<%= link_to 'Back', home_index_path %>

