<div class = "cover">  
  <%= image_tag @organization.cover.url(:cover) %>
</div>
<p id="notice"><%= notice %></p>
<div >

</div>

<h2><%= @organization.name %> Details</h2>
<!-- <p>
  <b>User ID:</b>
  <%= @organization.user_id %>
</p> -->

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>City:</b>
  <%= @organization.city %>
</p>

<p>
  <b>State:</b>
  <%= @organization.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @organization.zip %>
</p>

<p>
  <b>URL:</b>
  <%= @organization.url %>
</p> 
  
<p><b>Logo Image:</b></br>
<div class = "logo">
  <%= image_tag @organization.logo.url %>
</div>
</p>




<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
