<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @organization.user_id %>
</p>

<p>
  <b>:</b>
  <%= @organization.name %>
</p>

<p>
  <b>String:</b>
  <%= @organization.address %>
</p>

<p>
  <b>:</b>
  <%= @organization.city %>
</p>

<p>
  <b>String:</b>
  <%= @organization.state %>
</p>

<p>
  <b>:</b>
  <%= @organization.zip %>
</p>

<p>
  <b>{}:</b>
  <%= @organization.url %>
</p>

<p>
  <b>:</b>
  <%= image_tag @organization.logo %>
</p>

<p>
  <b>Url:</b>
  <%= image_tag @organization.cover %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
